@{ ViewBag.Title = "About"; }

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    About
                    <strong>RestRate</strong>
                </h2>
                <hr>
            </div>
            <div id="expression" class="col-md-6">
                <p id="AboutData">
                    hello worldddd
                </p>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    The
                    <strong>Developers</strong>
                </h2>
                <hr>
            </div>
            <div class="col-sm-3 text-center">
                <img class="img-responsive" src="~/Content/Images/Alex.jpg" alt="">
                <h3>
                    Alex Troitksy
                </h3>
            </div>
            <div class="col-sm-3 text-center">
                <img class="img-responsive" src="~/Content/Images/Lior.jpg" alt="">
                <h3>
                    Lior Vaitzman
                </h3>
            </div>
            <div class="col-sm-3 text-center">
                <img class="img-responsive" src="~/Content/Images/Tamar.jpg" alt="">
                <h3>
                    Tamar 
                </h3>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h5 class="intro-text text-center">
                OUR
                <strong>STORY</strong>
            </h5>
            <hr>
        </div>
        <section>
            <div class="reviews-section">
                <h5 class="our-font">
                    Tired of the bad food, we decided to create a brand with a direct business model, without intermediaries, that unites the consumer with the right restraunts for them.‎  ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎ ‎ ‎
                </h5>
            </div>
        </section>
        <div class="clearfix"></div>
    </div>
</div>
