@{ ViewBag.Title = "About"; }

<div class="container" width="100%">
    <div class="row">
        <img src="~/images/About.png" class="about_background" />
        <div class="col-lg-12">
            <h4 id="intro-text">
                OUR
                <strong>MISSION</strong>
            </h4>
            <h2 id="AboutData">
                Shaping the future of food
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 id="intro-text" class="text-center">
                    Meet our people
                </h2>
                <hr>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="~/images/Alex.jpg" alt="">
                <h3>
                    Alex Troitksy
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="~/images/Lior.jpg" alt="">
                <h3>
                    Lior Vaisman
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="~/images/Tamar.jpg" alt="">
                <h3>
                    Tamar Klaiman
                </h3>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h5 id="intro-text" class="text-center">
                OUR
                <strong>STORY</strong>
            </h5>
            <hr>
        </div>
        <section>
            <div class="reviews-section">
                <h5 class="col-lg-7 our-font">
                    Tired of the bad food, we decided to create a brand with a direct business model, without intermediaries, that unites the consumer with the right restraunts for them.‎  ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎   ‏‏‎ ‎ ‎
                </h5>
                <img class="col-lg-5" src="https://b.zmtcdn.com/web_assets/4c4754484b185afd6d88e357de72f7de1563874934.jpeg?output-format=webp"/>
            </div>
        </section>
        <div class="clearfix"></div>
    </div>
</div>
