@model RestaurantRating.Models.Restaurant

<h1>Create</h1>

<h4>Restaurant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceLevel" class="control-label"></label>
                <input asp-for="PriceLevel" class="form-control" />
                <span asp-validation-for="PriceLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input id="adress-autocomplete" asp-for="Address" class="form-control" placeholder="" />
                <input id="adress-city" hidden asp-for="City"/>
                <input id="adress-coordinates-lat" hidden asp-for="Lat"/>
                <input id="adress-coordinates-lon" hidden asp-for="Lon" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input accept="image/*" asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/js/create-address-autocomplete.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNKZSvcXEelSKurf1mbBtwpHjqSpq7P2w&callback=initMap&libraries=places&v=weekly"
        defer></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
